@use "variables" as *;
@use "buttons" as *;
@use "containers" as *;
@use "mixins" as *;
@use "sidebar" as *;
@use "table" as *;
@use "texts" as *;
@use "utilities" as *;
@use "settings" as *;

// TODO: Acomodar esto también que es un desastre

html {
  background-color: $background-color;
  color: $text-color;
}
.router-link {
  text-decoration: none;
  color: inherit;
}


